.container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(142, 85, 85, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  width: 60vw;
}

.header-bar {
  max-height: 80px;
}
.header-bar .input
{
  padding: 5px;
}

.header-bar .button
{
  padding-bottom: 22px;
}

.mat-icon {
  vertical-align: middle;
}

.content {
  padding: 20px;
  overflow-y: scroll;
  font-size: large !important;
}

.next-previous-button {
  width: 20vw;
  padding: 20px;
}


.footer-bar{
  padding: 20px;
}
