<mat-drawer-container class="container" autosize fxLayout="column" fxLayoutAlign="space-between stretch">
  <mat-drawer #drawer class="sidenav" mode="push">
    <app-setting></app-setting>
  </mat-drawer>
  <div #top></div>
  <mat-drawer-content fxLayout="column" fxLayoutAlign="space-between stretch">

    <mat-toolbar class="header-bar" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="12">
      <button fxLayout="row" class="button" type="button" mat-icon-button color="primary" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div fxFlex="80" fxFlexOffset="1" class="input" div fxLayout="column" fxLayoutAlign="start stretch">
        <input placeholder="Bạn nhập nguồn truyện ở đây..." type="text" #input (change)="openSetting(input.value)"
          [value]="url">
      </div>

      <button class="button" fxFlexOffset="1" [disabled]="isloading" type="button" mat-icon-button color="primary"
        (click)="submit()" fxLayout="row">
        <mat-icon>subdirectory_arrow_right</mat-icon>
      </button>
    </mat-toolbar>
    <div *ngIf="originalResponse" flex class="sidenav-content full-height content" fxLayout="column"
      fxLayoutAlign="space-between stretch" fxFlex="68" (scroll)="onScroll($event)">
      <div *ngIf="originalResponse">
        <p>{{originalResponse.title}}
        </p>
        <div fxLayout="row" fxLayoutAlign="start start" >
          <button fxLayout="row" fxLayoutAlign="center center" *ngIf="translatedPageChunks.length>0"
            [disabled]="isloading" mat-button color="primary" (click)="analyzeToTheEnd(0)">
            <span>Phân tích tên</span>
            <mat-icon><mat-spinner *ngIf="isloading" color="accent"
                diameter="20"></mat-spinner></mat-icon>
          </button>

          <button fxLayout="row" fxLayoutAlign="center center" *ngIf="translatedPageChunks.length>0"
            [disabled]="isloading" mat-button color="primary" (click)="translateToTheEnd()">
            <span>Dịch hết</span>
            <mat-icon><mat-spinner *ngIf="isloading" color="accent"
                diameter="20"></mat-spinner></mat-icon>
          </button>
        </div>
        <div *ngFor="let pageChunk of pageChunks; let i=index" class="full-width">
          <p>Phần {{i+1}}:
          </p>
          <div *ngIf="version=='translated'">
            <div fxLayout="row" fxLayoutAlign="start start" >
              <button fxLayout="row" fxLayoutAlign="center center" *ngIf="translatedPageChunks.length>0"
                [disabled]="isloading" mat-button color="primary" (click)="translateSinglePageChunk(pageChunks[i], i)">
                <span>Dịch</span>
                <mat-icon><mat-spinner *ngIf="isloading && (translatedPageChunks[i]??[]).length==0" color="accent"
                    diameter="20"></mat-spinner></mat-icon>
              </button>

            </div>
            <mat-form-field class="full-width">
              <textarea matInput [value]="(translatedPageChunks[i]??[]).join('\r\n \r\n')" [rows]="20">
              </textarea>
            </mat-form-field>
          </div>

          <div *ngIf="version=='origin'">
            <mat-form-field class="full-width">
              <textarea matInput [value]="pageChunks[i].join('\r\n \r\n')" [rows]="20">
              </textarea>
            </mat-form-field>
          </div>
          <br>
          <br>
        </div>
        <!-- <mat-spinner *ngIf="isloading" color="accent" diameter="30"></mat-spinner> -->

        <div *ngIf="originalResponse" div fxLayout="column" fxLayoutAlign="center center">
          <app-donate></app-donate>
        </div>
      </div>
    </div>


    <mat-toolbar class="full-width footer-bar" fxFlex="20" fxLayout="column" fxLayoutAlign="start stretch">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <button type="button" mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="end center"
          class="full-height" [disabled]="!originalResponse" (click)="previous(); top.scrollIntoView(true)">
          <mat-icon>chevron_left</mat-icon>
        </button>

        <mat-button-toggle-group [(value)]="version" [disabled]="!originalResponse">
          <mat-button-toggle value="origin"> <mat-icon>language</mat-icon></mat-button-toggle>
          <mat-button-toggle (click)="copy()" value="translated"> <mat-icon>translate</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>

        <button type="button" mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="end center"
          [disabled]="!originalResponse" (click)="next(); top.scrollIntoView(true)">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>

    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>
