.ad{
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  height: 80vh;
  display: inline-block;
}

.container{
  overflow-y: visible;
  display: inline-block;
  height: 150vh;
}

.back-drop
{
  background-color: black;
}
