.ad{
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100vw;
  max-height: 80vh;
  display: inline-block;
}

.container{
  overflow-y: visible;
  display: inline-block;
  height: 150vh;
}

.back-drop
{
  background-color: black;
}

.button{
  padding: 20px;
  margin: 20px;
}
