
<div fxLayout="row" fxLayoutAlign="space-between start"  >
  <div  fxLayout="column" fxLayoutAlign="space-between start" fxFlex="50">
    <p >
      Nếu thấy hay, thì bạn hãy donate trang web một ít kinh phí vận hành và phát triển nhé!
    </p>

    <p >
      Mọi ý kiến đóng góp vui lòng liên hệ:
    </p>
    <a  href="https://zalo.me/0966884977">
      <img width="50vw" height="50vh" src="/assets/zalo.png">
    </a>
  </div>
  <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fme.momo.vn%2FkqIGu6sgsjiQivfvuWFK%3Ffbclid%3DIwAR3smD767MTCLmSoTr4KRjA2hiFTjqjSpty9Baa6a10P7QLMnLOnRspOs8Q&h=AT07F75unQWZqrTynIxppFp0nE_FQyuHW4Qlbpu01WZ2l7xAoWxQmwqFmC8iw5vUGgvBZujBctFT7Bngx8YBRmA0ZStPYBVzNQXHSmZbRx2cf9t51H9u_zkTeqxRj17Z-cPNCZXo3Xn4HcM1vwrqMQ">
    <img src="/assets/donate.jpg">
  </a>

</div>
